{
    "openapi": "3.0.3",
    "info": {
      "title": "Notion API",
      "description": "Hello and welcome!\n\nTo make use of this API collection collection as it's written, please duplicate [this database template](https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae?v=dc1b92875fb94f10834ba8d36549bd2a).\n\n﻿Under the `Variables` tab, add your environment variables to start making requests. You will need to [create an integration](https://www.notion.so/my-integrations) to retrieve an API token. You will also need additional values, such as a database ID and page ID, which can be found in your Notion workspace or from the database template mentioned above.\n\nFor our full documentation, including sample integrations and guides, visit [developers.notion.com](https://developers.notion.com/)﻿.\n\nPlease note: Pages that are parented by a database _must_ have the same properties as the parent database. If you are not using the database template provided, the request `body` for the page endpoints included in this collection should be updated to match the properties in the parent database being used. See documentation for [Creating a page](https://developers.notion.com/reference/post-page) for more information.\n\nTo learn more about creating an access token, see our [official documentation](https://developers.notion.com/reference/create-a-token) and read our [Authorization](https://developers.notion.com/docs/authorization#step-3-send-the-code-in-a-post-request-to-the-notion-api) guide.\n\nNeed more help? Join our [developer community on Slack](https://join.slack.com/t/notiondevs/shared_invite/zt-20b5996xv-DzJdLiympy6jP0GGzu3AMg)﻿.",
      "version": "1.0.0",
      "contact": {}
    },
    "servers": [
      {
        "url": "https://api.notion.com"
      }
    ],
    "paths": {
      "/v1/users/{id}": {
        "get": {
          "tags": [
            "Users"
          ],
          "summary": "Retrieve a user",
          "description": "Retrieve a user object using the ID specified in the request path.",
          "operationId": "retrieveAUser",
          "parameters": [
            {
              "name": "Notion-Version",
              "in": "header",
              "schema": {
                "type": "string",
                "example": "{{NOTION_VERSION}}"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Retrieve a user": {
                    "value": {}
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "200 Success - Retrieve a user",
              "headers": {
                "CF-Cache-Status": {
                  "schema": {
                    "type": "string",
                    "example": "DYNAMIC"
                  }
                },
                "CF-RAY": {
                  "schema": {
                    "type": "string",
                    "example": "6e2be42d784c97c3-SJC"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Content-Security-Policy": {
                  "schema": {
                    "type": "string",
                    "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://analytics.pgncs.notion.so https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io https://pgncd.notion.so https://api.statsig.com; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Thu, 24 Feb 2022 21:47:15 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"9b-qoibMBKquYk09T0oogqvLGu9qu4\""
                  }
                },
                "Expect-CT": {
                  "schema": {
                    "type": "string",
                    "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                  }
                },
                "Referrer-Policy": {
                  "schema": {
                    "type": "string",
                    "example": "same-origin"
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "cloudflare"
                  }
                },
                "Set-Cookie": {
                  "schema": {
                    "type": "string",
                    "example": "notion_check_cookie_consent=false; Domain=www.notion.so; Path=/; Expires=Fri, 25 Feb 2022 21:47:15 GMT; Secure"
                  }
                },
                "Strict-Transport-Security": {
                  "schema": {
                    "type": "string",
                    "example": "max-age=5184000; includeSubDomains"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Encoding"
                  }
                },
                "X-Content-Security-Policy": {
                  "schema": {
                    "type": "string",
                    "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://analytics.pgncs.notion.so https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io https://pgncd.notion.so https://api.statsig.com; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                  }
                },
                "X-Content-Type-Options": {
                  "schema": {
                    "type": "string",
                    "example": "nosniff"
                  }
                },
                "X-DNS-Prefetch-Control": {
                  "schema": {
                    "type": "string",
                    "example": "off"
                  }
                },
                "X-Download-Options": {
                  "schema": {
                    "type": "string",
                    "example": "noopen"
                  }
                },
                "X-Frame-Options": {
                  "schema": {
                    "type": "string",
                    "example": "SAMEORIGIN"
                  }
                },
                "X-WebKit-CSP": {
                  "schema": {
                    "type": "string",
                    "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://analytics.pgncs.notion.so https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io https://pgncd.notion.so https://api.statsig.com; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                  }
                },
                "X-XSS-Protection": {
                  "schema": {
                    "type": "string",
                    "example": "1; mode=block"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "avatar_url": {
                        "nullable": true,
                        "example": null
                      },
                      "id": {
                        "type": "string",
                        "example": "6794760a-1f15-45cd-9c65-0dfe42f5135a"
                      },
                      "name": {
                        "type": "string",
                        "example": "Aman Gupta"
                      },
                      "object": {
                        "type": "string",
                        "example": "user"
                      },
                      "person": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "example": "XXXXXXXXXXX"
                          }
                        }
                      },
                      "type": {
                        "type": "string",
                        "example": "person"
                      }
                    }
                  },
                  "examples": {
                    "200 Success - Retrieve a user": {
                      "value": {
                        "avatar_url": null,
                        "id": "6794760a-1f15-45cd-9c65-0dfe42f5135a",
                        "name": "Aman Gupta",
                        "object": "user",
                        "person": {
                          "email": "XXXXXXXXXXX"
                        },
                        "type": "person"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "{{USER_ID}}"
            }
          }
        ]
      },
      "/v1/users": {
        "get": {
          "tags": [
            "Users"
          ],
          "summary": "List all users",
          "description": "Returns a paginated list of user objects for a workspace",
          "operationId": "listAllUsers",
          "parameters": [
            {
              "name": "Notion-Version",
              "in": "header",
              "schema": {
                "type": "string",
                "example": "{{NOTION_VERSION}}"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 Success - List all users",
              "headers": {
                "CF-Cache-Status": {
                  "schema": {
                    "type": "string",
                    "example": "DYNAMIC"
                  }
                },
                "CF-RAY": {
                  "schema": {
                    "type": "string",
                    "example": "6e2be5e27e9797c3-SJC"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Content-Security-Policy": {
                  "schema": {
                    "type": "string",
                    "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://analytics.pgncs.notion.so https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io https://pgncd.notion.so https://api.statsig.com; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Thu, 24 Feb 2022 21:48:25 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"6e4-sni6uhyjO+1Rwt4GEaScNm+SLr4\""
                  }
                },
                "Expect-CT": {
                  "schema": {
                    "type": "string",
                    "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                  }
                },
                "Referrer-Policy": {
                  "schema": {
                    "type": "string",
                    "example": "same-origin"
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "cloudflare"
                  }
                },
                "Set-Cookie": {
                  "schema": {
                    "type": "string",
                    "example": "notion_check_cookie_consent=false; Domain=www.notion.so; Path=/; Expires=Fri, 25 Feb 2022 21:48:25 GMT; Secure"
                  }
                },
                "Strict-Transport-Security": {
                  "schema": {
                    "type": "string",
                    "example": "max-age=5184000; includeSubDomains"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Encoding"
                  }
                },
                "X-Content-Security-Policy": {
                  "schema": {
                    "type": "string",
                    "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://analytics.pgncs.notion.so https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io https://pgncd.notion.so https://api.statsig.com; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                  }
                },
                "X-Content-Type-Options": {
                  "schema": {
                    "type": "string",
                    "example": "nosniff"
                  }
                },
                "X-DNS-Prefetch-Control": {
                  "schema": {
                    "type": "string",
                    "example": "off"
                  }
                },
                "X-Download-Options": {
                  "schema": {
                    "type": "string",
                    "example": "noopen"
                  }
                },
                "X-Frame-Options": {
                  "schema": {
                    "type": "string",
                    "example": "SAMEORIGIN"
                  }
                },
                "X-WebKit-CSP": {
                  "schema": {
                    "type": "string",
                    "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://analytics.pgncs.notion.so https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io https://pgncd.notion.so https://api.statsig.com; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                  }
                },
                "X-XSS-Protection": {
                  "schema": {
                    "type": "string",
                    "example": "1; mode=block"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "has_more": {
                        "type": "boolean",
                        "example": false
                      },
                      "next_cursor": {
                        "nullable": true,
                        "example": null
                      },
                      "object": {
                        "type": "string",
                        "example": "list"
                      },
                      "results": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "avatar_url": {
                              "nullable": true,
                              "example": null
                            },
                            "bot": {
                              "type": "object",
                              "properties": {
                                "owner": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "workspace"
                                    },
                                    "workspace": {
                                      "type": "boolean",
                                      "example": true
                                    }
                                  }
                                }
                              }
                            },
                            "id": {
                              "type": "string",
                              "example": "6794760a-1f15-45cd-9c65-0dfe42f5135a"
                            },
                            "name": {
                              "type": "string",
                              "example": "Aman Gupta"
                            },
                            "object": {
                              "type": "string",
                              "example": "user"
                            },
                            "person": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string",
                                  "example": "XXXXXXXXXX"
                                }
                              }
                            },
                            "type": {
                              "type": "string",
                              "example": "person"
                            }
                          }
                        },
                        "example": [
                          {
                            "avatar_url": null,
                            "id": "6794760a-1f15-45cd-9c65-0dfe42f5135a",
                            "name": "Aman Gupta",
                            "object": "user",
                            "person": {
                              "email": "XXXXXXXXXX"
                            },
                            "type": "person"
                          },
                          {
                            "avatar_url": null,
                            "bot": {
                              "owner": {
                                "type": "workspace",
                                "workspace": true
                              }
                            },
                            "id": "92a680bb-6970-4726-952b-4f4c03bff617",
                            "name": "Leotastic",
                            "object": "user",
                            "type": "bot"
                          }
                        ]
                      }
                    }
                  },
                  "examples": {
                    "200 Success - List all users": {
                      "value": {
                        "has_more": false,
                        "next_cursor": null,
                        "object": "list",
                        "results": [
                          {
                            "avatar_url": null,
                            "id": "6794760a-1f15-45cd-9c65-0dfe42f5135a",
                            "name": "Aman Gupta",
                            "object": "user",
                            "person": {
                              "email": "XXXXXXXXXX"
                            },
                            "type": "person"
                          },
                          {
                            "avatar_url": null,
                            "bot": {
                              "owner": {
                                "type": "workspace",
                                "workspace": true
                              }
                            },
                            "id": "92a680bb-6970-4726-952b-4f4c03bff617",
                            "name": "Leotastic",
                            "object": "user",
                            "type": "bot"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1/users/me": {
        "get": {
          "tags": [
            "Users"
          ],
          "summary": "Retrieve your token’s bot user",
          "description": "Retrieve your token’s bot user",
          "operationId": "retrieveYourTokenSBotUser",
          "parameters": [
            {
              "name": "Notion-Version",
              "in": "header",
              "schema": {
                "type": "string",
                "example": "{{NOTION_VERSION}}"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 Success - Retrieve bot's user info",
              "headers": {
                "CF-Cache-Status": {
                  "schema": {
                    "type": "string",
                    "example": "DYNAMIC"
                  }
                },
                "CF-RAY": {
                  "schema": {
                    "type": "string",
                    "example": "6e2c497a6f659452-SJC"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Content-Security-Policy": {
                  "schema": {
                    "type": "string",
                    "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://analytics.pgncs.notion.so https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io https://pgncd.notion.so https://api.statsig.com; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Thu, 24 Feb 2022 22:56:24 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"a5-8nKyiCE+m0Dwog4u0m9EY+DyENY\""
                  }
                },
                "Expect-CT": {
                  "schema": {
                    "type": "string",
                    "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                  }
                },
                "Referrer-Policy": {
                  "schema": {
                    "type": "string",
                    "example": "same-origin"
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "cloudflare"
                  }
                },
                "Set-Cookie": {
                  "schema": {
                    "type": "string",
                    "example": "notion_check_cookie_consent=false; Domain=www.notion.so; Path=/; Expires=Fri, 25 Feb 2022 22:56:24 GMT; Secure"
                  }
                },
                "Strict-Transport-Security": {
                  "schema": {
                    "type": "string",
                    "example": "max-age=5184000; includeSubDomains"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Encoding"
                  }
                },
                "X-Content-Security-Policy": {
                  "schema": {
                    "type": "string",
                    "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://analytics.pgncs.notion.so https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io https://pgncd.notion.so https://api.statsig.com; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                  }
                },
                "X-Content-Type-Options": {
                  "schema": {
                    "type": "string",
                    "example": "nosniff"
                  }
                },
                "X-DNS-Prefetch-Control": {
                  "schema": {
                    "type": "string",
                    "example": "off"
                  }
                },
                "X-Download-Options": {
                  "schema": {
                    "type": "string",
                    "example": "noopen"
                  }
                },
                "X-Frame-Options": {
                  "schema": {
                    "type": "string",
                    "example": "SAMEORIGIN"
                  }
                },
                "X-WebKit-CSP": {
                  "schema": {
                    "type": "string",
                    "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://analytics.pgncs.notion.so https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io https://pgncd.notion.so https://api.statsig.com; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                  }
                },
                "X-XSS-Protection": {
                  "schema": {
                    "type": "string",
                    "example": "1; mode=block"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "avatar_url": {
                        "nullable": true,
                        "example": null
                      },
                      "bot": {
                        "type": "object",
                        "properties": {
                          "owner": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "workspace"
                              },
                              "workspace": {
                                "type": "boolean",
                                "example": true
                              }
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "example": "92a680bb-6970-4726-952b-4f4c03bff617"
                      },
                      "name": {
                        "type": "string",
                        "example": "Leotastic"
                      },
                      "object": {
                        "type": "string",
                        "example": "user"
                      },
                      "type": {
                        "type": "string",
                        "example": "bot"
                      }
                    }
                  },
                  "examples": {
                    "200 Success - Retrieve bot's user info": {
                      "value": {
                        "avatar_url": null,
                        "bot": {
                          "owner": {
                            "type": "workspace",
                            "workspace": true
                          }
                        },
                        "id": "92a680bb-6970-4726-952b-4f4c03bff617",
                        "name": "Leotastic",
                        "object": "user",
                        "type": "bot"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1/databases/{id}": {
        "get": {
          "tags": [
            "Databases"
          ],
          "summary": "Retrieve a database",
          "description": "Retrieves a database object using the ID specified in the request path. ",
          "operationId": "retrieveADatabase",
          "parameters": [
            {
              "name": "Notion-Version",
              "in": "header",
              "schema": {
                "type": "string",
                "example": "{{NOTION_VERSION}}"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "200 Success - Retrieve a Database / 200 Success - Retrieve a Database",
              "headers": {
                "CF-Cache-Status": {
                  "schema": {
                    "type": "string",
                    "example": "DYNAMIC"
                  }
                },
                "CF-RAY": {
                  "schema": {
                    "type": "string",
                    "example": "6e57ad7a19c482ab-IAD"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "gzip"
                  }
                },
                "Content-Security-Policy": {
                  "schema": {
                    "type": "string",
                    "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://analytics.pgncs.notion.so https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io https://pgncd.notion.so https://api.statsig.com; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 02 Mar 2022 05:19:28 GMT"
                  }
                },
                "ETag": {
                  "schema": {
                    "type": "string",
                    "example": "W/\"110f-R5+JLAgaiYySC0RHfDR5I4HPYWU\""
                  }
                },
                "Expect-CT": {
                  "schema": {
                    "type": "string",
                    "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                  }
                },
                "Referrer-Policy": {
                  "schema": {
                    "type": "string",
                    "example": "same-origin"
                  }
                },
                "Server": {
                  "schema": {
                    "type": "string",
                    "example": "cloudflare"
                  }
                },
                "Set-Cookie": {
                  "schema": {
                    "type": "string",
                    "example": "notion_check_cookie_consent=false; Domain=www.notion.so; Path=/; Expires=Thu, 03 Mar 2022 05:19:28 GMT; Secure"
                  }
                },
                "Strict-Transport-Security": {
                  "schema": {
                    "type": "string",
                    "example": "max-age=5184000; includeSubDomains"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Encoding"
                  }
                },
                "X-Content-Security-Policy": {
                  "schema": {
                    "type": "string",
                    "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://analytics.pgncs.notion.so https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io https://pgncd.notion.so https://api.statsig.com; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                  }
                },
                "X-Content-Type-Options": {
                  "schema": {
                    "type": "string",
                    "example": "nosniff"
                  }
                },
                "X-DNS-Prefetch-Control": {
                  "schema": {
                    "type": "string",
                    "example": "off"
                  }
                },
                "X-Download-Options": {
                  "schema": {
                    "type": "string",
                    "example": "noopen"
                  }
                },
                "X-Frame-Options": {
                  "schema": {
                    "type": "string",
                    "example": "SAMEORIGIN"
                  }
                },
                "X-WebKit-CSP": {
                  "schema": {
                    "type": "string",
                    "example": "script-src 'self' 'unsafe-inline' 'unsafe-eval' https://gist.github.com https://apis.google.com https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://widget.intercom.io https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com js.sentry-cdn.com https://js.chilipiper.com https://platform.twitter.com https://cdn.syndication.twimg.com; connect-src 'self' https://msgstore.www.notion.so wss://msgstore.www.notion.so ws://localhost:* ws://127.0.0.1:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com https: http: https://cdn.amplitude.com https://api.amplitude.com https://hkfxbbdzib.notion.so https://api.embed.ly https://js.intercomcdn.com https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com https://cdn.segment.com https://api.segment.io https://analytics.pgncs.notion.so https://api.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com https://tracking.chilipiper.com https://api.chilipiper.com https://api.unsplash.com https://boards-api.greenhouse.io https://api.statuspage.io https://pgncd.notion.so https://api.statsig.com; font-src 'self' data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src 'self' data: blob: https: https://platform.twitter.com https://syndication.twitter.com https://pbs.twimg.com https://ton.twimg.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://github.githubassets.com https://js.chilipiper.com https://platform.twitter.com https://ton.twimg.com; frame-src https: http:; media-src https: http:"
                  }
                },
                "X-XSS-Protection": {
                  "schema": {
                    "type": "string",
                    "example": "1; mode=block"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "archived": {
                        "type": "boolean",
                        "example": false
                      },
                      "cover": {
                        "nullable": true,
                        "example": null
                      },
                      "created_by": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "6794760a-1f15-45cd-9c65-0dfe42f5135a"
                          },
                          "object": {
                            "type": "string",
                            "example": "user"
                          }
                        }
                      },
                      "created_time": {
                        "type": "string",
                        "example": "2021-04-27T20:38:00.000Z"
                      },
                      "icon": {
                        "nullable": true,
                        "example": null
                      },
                      "id": {
                        "type": "string",
                        "example": "8e2c2b76-9e1d-47d2-87b9-ed3035d607ae"
                      },
                      "last_edited_by": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "6794760a-1f15-45cd-9c65-0dfe42f5135a"
                          },
                          "object": {
                            "type": "string",
                            "example": "user"
                          }
                        }
                      },
                      "last_edited_time": {
                        "type": "string",
                        "example": "2022-02-24T22:14:00.000Z"
                      },
                      "object": {
                        "type": "string",
                        "example": "database"
                      },
                      "parent": {
                        "type": "object",
                        "properties": {
                          "page_id": {
                            "type": "string",
                            "example": "c4d39556-6364-46a1-8a61-ebbb668f7445"
                          },
                          "type": {
                            "type": "string",
                            "example": "page_id"
                          }
                        }
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "Author": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "qNw_"
                              },
                              "multi_select": {
                                "type": "object",
                                "properties": {
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "color": {
                                          "type": "string",
                                          "example": "default"
                                        },
                                        "id": {
                                          "type": "string",
                                          "example": "15592971-7b30-43d5-9406-2eb69b13fcae"
                                        },
                                        "name": {
                                          "type": "string",
                                          "example": "Spencer Greenberg"
                                        }
                                      }
                                    },
                                    "example": [
                                      {
                                        "color": "default",
                                        "id": "15592971-7b30-43d5-9406-2eb69b13fcae",
                                        "name": "Spencer Greenberg"
                                      },
                                      {
                                        "color": "default",
                                        "id": "b80a988e-dccf-4f74-b764-6ca0e49ed1b8",
                                        "name": "Seth Stephens-Davidowitz"
                                      },
                                      {
                                        "color": "default",
                                        "id": "0e71ee06-199d-46a4-834c-01084c8f76cb",
                                        "name": "Andrew Russell"
                                      },
                                      {
                                        "color": "default",
                                        "id": "5807ec38-4879-4455-9f30-5352e90e8b79",
                                        "name": "Lee Vinsel"
                                      },
                                      {
                                        "color": "default",
                                        "id": "4cf10a64-f3da-449c-8e04-ce6e338bbdbd",
                                        "name": "Megan Greenwell"
                                      },
                                      {
                                        "color": "default",
                                        "id": "833e2c78-35ed-4601-badc-50c323341d76",
                                        "name": "Kara Swisher"
                                      },
                                      {
                                        "color": "default",
                                        "id": "82e594e2-b1c5-4271-ac19-1a723a94a533",
                                        "name": "Paul Romer"
                                      },
                                      {
                                        "color": "default",
                                        "id": "ae3a2cbe-1fc9-4376-be35-331628b34623",
                                        "name": "Karen Swallow Prior"
                                      },
                                      {
                                        "color": "default",
                                        "id": "da068e78-dfe2-4434-9fd7-b7450b3e5830",
                                        "name": "Judith Shulevitz"
                                      }
                                    ]
                                  }
                                }
                              },
                              "name": {
                                "type": "string",
                                "example": "Author"
                              },
                              "type": {
                                "type": "string",
                                "example": "multi_select"
                              }
                            }
                          },
                          "Link": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "VVMi"
                              },
                              "name": {
                                "type": "string",
                                "example": "Link"
                              },
                              "type": {
                                "type": "string",
                                "example": "url"
                              },
                              "url": {
                                "type": "object",
                                "properties": {}
                              }
                            }
                          },
                          "Name": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "title"
                              },
                              "name": {
                                "type": "string",
                                "example": "Name"
                              },
                              "title": {
                                "type": "object",
                                "properties": {}
                              },
                              "type": {
                                "type": "string",
                                "example": "title"
                              }
                            }
                          },
                          "Publisher": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "%3E%24Pb"
                              },
                              "name": {
                                "type": "string",
                                "example": "Publisher"
                              },
                              "select": {
                                "type": "object",
                                "properties": {
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "color": {
                                          "type": "string",
                                          "example": "default"
                                        },
                                        "id": {
                                          "type": "string",
                                          "example": "c5ee409a-f307-4176-99ee-6e424fa89afa"
                                        },
                                        "name": {
                                          "type": "string",
                                          "example": "NYT"
                                        }
                                      }
                                    },
                                    "example": [
                                      {
                                        "color": "default",
                                        "id": "c5ee409a-f307-4176-99ee-6e424fa89afa",
                                        "name": "NYT"
                                      },
                                      {
                                        "color": "blue",
                                        "id": "1b9b0c0c-17b0-4292-ad12-1364a51849de",
                                        "name": "Netflix"
                                      },
                                      {
                                        "color": "brown",
                                        "id": "f3533637-278f-4501-b394-d9753bf3c101",
                                        "name": "Indie"
                                      },
                                      {
                                        "color": "yellow",
                                        "id": "e70d713c-4be4-4b40-a44d-fb413c8b9d7e",
                                        "name": "Bon Appetit"
                                      },
                                      {
                                        "color": "pink",
                                        "id": "9c2bd667-0a10-4be4-a044-35a537a14ab9",
                                        "name": "Franklin Institute"
                                      },
                                      {
                                        "color": "orange",
                                        "id": "6849b5f0-e641-4ec5-83cb-1ffe23011060",
                                        "name": "Springer"
                                      },
                                      {
                                        "color": "gray",
                                        "id": "6a5bff63-a72d-4464-a5d0-1a601af2adf6",
                                        "name": "Emerald Group"
                                      },
                                      {
                                        "color": "red",
                                        "id": "01f82d08-aa1f-4884-a4e0-3bc32f909ec4",
                                        "name": "The Atlantic"
                                      }
                                    ]
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "example": "select"
                              }
                            }
                          },
                          "Publishing/Release Date": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "object",
                                "properties": {}
                              },
                              "id": {
                                "type": "string",
                                "example": "%3Fex%2B"
                              },
                              "name": {
                                "type": "string",
                                "example": "Publishing/Release Date"
                              },
                              "type": {
                                "type": "string",
                                "example": "date"
                              }
                            }
                          },
                          "Read": {
                            "type": "object",
                            "properties": {
                              "checkbox": {
                                "type": "object",
                                "properties": {}
                              },
                              "id": {
                                "type": "string",
                                "example": "_MWJ"
                              },
                              "name": {
                                "type": "string",
                                "example": "Read"
                              },
                              "type": {
                                "type": "string",
                                "example": "checkbox"
                              }
                            }
                          },
                          "Score /5": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": ")Y7%22"
                              },
                              "name": {
                                "type": "string",
                                "example": "Score /5"
                              },
                              "select": {
                                "type": "object",
                                "properties": {
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "color": {
                                          "type": "string",
                                          "example": "default"
                                        },
                                        "id": {
                                          "type": "string",
                                          "example": "5c944de7-3f4b-4567-b3a1-fa2c71c540b6"
                                        },
                                        "name": {
                                          "type": "string",
                                          "example": "⭐️⭐️⭐️⭐️⭐️"
                                        }
                                      }
                                    },
                                    "example": [
                                      {
                                        "color": "default",
                                        "id": "5c944de7-3f4b-4567-b3a1-fa2c71c540b6",
                                        "name": "⭐️⭐️⭐️⭐️⭐️"
                                      },
                                      {
                                        "color": "default",
                                        "id": "b7307e35-c80a-4cb5-bb6b-6054523b394a",
                                        "name": "⭐️⭐️⭐️⭐️"
                                      },
                                      {
                                        "color": "default",
                                        "id": "9b1e1349-8e24-40ba-bbca-84a61296bc81",
                                        "name": "⭐️⭐️⭐️"
                                      },
                                      {
                                        "color": "default",
                                        "id": "66d3d050-086c-4a91-8c56-d55dc67e7789",
                                        "name": "⭐️⭐️"
                                      },
                                      {
                                        "color": "default",
                                        "id": "d3782c76-0396-467f-928e-46bf0c9d5fba",
                                        "name": "⭐️"
                                      }
                                    ]
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "example": "select"
                              }
                            }
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "%60zz5"
                              },
                              "name": {
                                "type": "string",
                                "example": "Status"
                              },
                              "select": {
                                "type": "object",
                                "properties": {
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "color": {
                                          "type": "string",
                                          "example": "yellow"
                                        },
                                        "id": {
                                          "type": "string",
                                          "example": "8c4a056e-6709-4dd1-ba58-d34d9480855a"
                                        },
                                        "name": {
                                          "type": "string",
                                          "example": "Ready to Start"
                                        }
                                      }
                                    },
                                    "example": [
                                      {
                                        "color": "yellow",
                                        "id": "8c4a056e-6709-4dd1-ba58-d34d9480855a",
                                        "name": "Ready to Start"
                                      },
                                      {
                                        "color": "red",
                                        "id": "5925ba22-0126-4b58-90c7-b8bbb2c3c895",
                                        "name": "Reading"
                                      },
                                      {
                                        "color": "blue",
                                        "id": "59aa9043-07b4-4bf4-8734-3164b13af44a",
                                        "name": "Finished"
                                      },
                                      {
                                        "color": "red",
                                        "id": "f961978d-02eb-4998-933a-33c2ec378564",
                                        "name": "Listening"
                                      },
                                      {
                                        "color": "red",
                                        "id": "1d450853-b27a-45e2-979f-448aa1bd35de",
                                        "name": "Watching"
                                      }
                                    ]
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "example": "select"
                              }
                            }
                          },
                          "Summary": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "%3F%5C25"
                              },
                              "name": {
                                "type": "string",
                                "example": "Summary"
                              },
                              "rich_text": {
                                "type": "object",
                                "properties": {}
                              },
                              "type": {
                                "type": "string",
                                "example": "rich_text"
                              }
                            }
                          },
                          "Type": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "%2F7eo"
                              },
                              "name": {
                                "type": "string",
                                "example": "Type"
                              },
                              "select": {
                                "type": "object",
                                "properties": {
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "color": {
                                          "type": "string",
                                          "example": "default"
                                        },
                                        "id": {
                                          "type": "string",
                                          "example": "f96d0d0a-5564-4a20-ab15-5f040d49759e"
                                        },
                                        "name": {
                                          "type": "string",
                                          "example": "Article"
                                        }
                                      }
                                    },
                                    "example": [
                                      {
                                        "color": "default",
                                        "id": "f96d0d0a-5564-4a20-ab15-5f040d49759e",
                                        "name": "Article"
                                      },
                                      {
                                        "color": "default",
                                        "id": "4ac85597-5db1-4e0a-9c02-445575c38f76",
                                        "name": "TV Series"
                                      },
                                      {
                                        "color": "default",
                                        "id": "2991748a-5745-4c3b-9c9b-2d6846a6fa1f",
                                        "name": "Film"
                                      },
                                      {
                                        "color": "default",
                                        "id": "82f3bace-be25-410d-87fe-561c9c22492f",
                                        "name": "Podcast"
                                      },
                                      {
                                        "color": "default",
                                        "id": "861f1076-1cc4-429a-a781-54947d727a4a",
                                        "name": "Academic Journal"
                                      },
                                      {
                                        "color": "default",
                                        "id": "9cc30548-59d6-4cd3-94bc-d234081525c4",
                                        "name": "Essay Resource"
                                      }
                                    ]
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "example": "select"
                              }
                            }
                          }
                        }
                      },
                      "title": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "annotations": {
                              "type": "object",
                              "properties": {
                                "bold": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "code": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "color": {
                                  "type": "string",
                                  "example": "default"
                                },
                                "italic": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "strikethrough": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "underline": {
                                  "type": "boolean",
                                  "example": false
                                }
                              }
                            },
                            "href": {
                              "nullable": true,
                              "example": null
                            },
                            "plain_text": {
                              "type": "string",
                              "example": "Ever Better Reading List Title"
                            },
                            "text": {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "example": "Ever Better Reading List Title"
                                },
                                "link": {
                                  "nullable": true,
                                  "example": null
                                }
                              }
                            },
                            "type": {
                              "type": "string",
                              "example": "text"
                            }
                          }
                        },
                        "example": [
                          {
                            "annotations": {
                              "bold": false,
                              "code": false,
                              "color": "default",
                              "italic": false,
                              "strikethrough": false,
                              "underline": false
                            },
                            "href": null,
                            "plain_text": "Ever Better Reading List Title",
                            "text": {
                              "content": "Ever Better Reading List Title",
                              "link": null
                            },
                            "type": "text"
                          }
                        ]
                      },
                      "url": {
                        "type": "string",
                        "example": "https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae"
                      }
                    }
                  },
                  "examples": {
                    "200 Success - Retrieve a Database": {
                      "value": {
                        "archived": false,
                        "cover": null,
                        "created_by": {
                          "id": "6794760a-1f15-45cd-9c65-0dfe42f5135a",
                          "object": "user"
                        },
                        "created_time": "2021-04-27T20:38:00.000Z",
                        "icon": null,
                        "id": "8e2c2b76-9e1d-47d2-87b9-ed3035d607ae",
                        "last_edited_by": {
                          "id": "6794760a-1f15-45cd-9c65-0dfe42f5135a",
                          "object": "user"
                        },
                        "last_edited_time": "2022-02-24T22:14:00.000Z",
                        "object": "database",
                        "parent": {
                          "page_id": "c4d39556-6364-46a1-8a61-ebbb668f7445",
                          "type": "page_id"
                        },
                        "properties": {
                          "Author": {
                            "id": "qNw_",
                            "multi_select": {
                              "options": [
                                {
                                  "color": "default",
                                  "id": "15592971-7b30-43d5-9406-2eb69b13fcae",
                                  "name": "Spencer Greenberg"
                                },
                                {
                                  "color": "default",
                                  "id": "b80a988e-dccf-4f74-b764-6ca0e49ed1b8",
                                  "name": "Seth Stephens-Davidowitz"
                                },
                                {
                                  "color": "default",
                                  "id": "0e71ee06-199d-46a4-834c-01084c8f76cb",
                                  "name": "Andrew Russell"
                                },
                                {
                                  "color": "default",
                                  "id": "5807ec38-4879-4455-9f30-5352e90e8b79",
                                  "name": "Lee Vinsel"
                                },
                                {
                                  "color": "default",
                                  "id": "4cf10a64-f3da-449c-8e04-ce6e338bbdbd",
                                  "name": "Megan Greenwell"
                                },
                                {
                                  "color": "default",
                                  "id": "833e2c78-35ed-4601-badc-50c323341d76",
                                  "name": "Kara Swisher"
                                },
                                {
                                  "color": "default",
                                  "id": "82e594e2-b1c5-4271-ac19-1a723a94a533",
                                  "name": "Paul Romer"
                                },
                                {
                                  "color": "default",
                                  "id": "ae3a2cbe-1fc9-4376-be35-331628b34623",
                                  "name": "Karen Swallow Prior"
                                },
                                {
                                  "color": "default",
                                  "id": "da068e78-dfe2-4434-9fd7-b7450b3e5830",
                                  "name": "Judith Shulevitz"
                                }
                              ]
                            },
                            "name": "Author",
                            "type": "multi_select"
                          },
                          "Link": {
                            "id": "VVMi",
                            "name": "Link",
                            "type": "url",
                            "url": {}
                          },
                          "Name": {
                            "id": "title",
                            "name": "Name",
                            "title": {},
                            "type": "title"
                          },
                          "Publisher": {
                            "id": "%3E%24Pb",
                            "name": "Publisher",
                            "select": {
                              "options": [
                                {
                                  "color": "default",
                                  "id": "c5ee409a-f307-4176-99ee-6e424fa89afa",
                                  "name": "NYT"
                                },
                                {
                                  "color": "blue",
                                  "id": "1b9b0c0c-17b0-4292-ad12-1364a51849de",
                                  "name": "Netflix"
                                },
                                {
                                  "color": "brown",
                                  "id": "f3533637-278f-4501-b394-d9753bf3c101",
                                  "name": "Indie"
                                },
                                {
                                  "color": "yellow",
                                  "id": "e70d713c-4be4-4b40-a44d-fb413c8b9d7e",
                                  "name": "Bon Appetit"
                                },
                                {
                                  "color": "pink",
                                  "id": "9c2bd667-0a10-4be4-a044-35a537a14ab9",
                                  "name": "Franklin Institute"
                                },
                                {
                                  "color": "orange",
                                  "id": "6849b5f0-e641-4ec5-83cb-1ffe23011060",
                                  "name": "Springer"
                                },
                                {
                                  "color": "gray",
                                  "id": "6a5bff63-a72d-4464-a5d0-1a601af2adf6",
                                  "name": "Emerald Group"
                                },
                                {
                                  "color": "red",
                                  "id": "01f82d08-aa1f-4884-a4e0-3bc32f909ec4",
                                  "name": "The Atlantic"
                                }
                              ]
                            },
                            "type": "select"
                          },
                          "Publishing/Release Date": {
                            "date": {},
                            "id": "%3Fex%2B",
                            "name": "Publishing/Release Date",
                            "type": "date"
                          },
                          "Read": {
                            "checkbox": {},
                            "id": "_MWJ",
                            "name": "Read",
                            "type": "checkbox"
                          },
                          "Score /5": {
                            "id": ")Y7%22",
                            "name": "Score /5",
                            "select": {
                              "options": [
                                {
                                  "color": "default",
                                  "id": "5c944de7-3f4b-4567-b3a1-fa2c71c540b6",
                                  "name": "⭐️⭐️⭐️⭐️⭐️"
                                },
                                {
                                  "color": "default",
                                  "id": "b7307e35-c80a-4cb5-bb6b-6054523b394a",
                                  "name": "⭐️⭐️⭐️⭐️"
                                },
                                {
                                  "color": "default",
                                  "id": "9b1e1349-8e24-40ba-bbca-84a61296bc81",
                                  "name": "⭐️⭐️⭐️"
                                },
                                {
                                  "color": "default",
                                  "id": "66d3d050-086c-4a91-8c56-d55dc67e7789",
                                  "name": "⭐️⭐️"
                                },
                                {
                                  "color": "default",
                                  "id": "d3782c76-0396-467f-928e-46bf0c9d5fba",
                                  "name": "⭐️"
                                }
                              ]
                            },
                            "type": "select"
                          },
                          "Status": {
                            "id": "%60zz5",
                            "name": "Status",
                            "select": {
                              "options": [
                                {
                                  "color": "yellow",
                                  "id": "8c4a056e-6709-4dd1-ba58-d34d9480855a",
                                  "name": "Ready to Start"
                                },
                                {
                                  "color": "red",
                                  "id": "5925ba22-0126-4b58-90c7-b8bbb2c3c895",
                                  "name": "Reading"
                                },
                                {
                                  "color": "blue",
                                  "id": "59aa9043-07b4-4bf4-8734-3164b13af44a",
                                  "name": "Finished"
                                },
                                {
                                  "color": "red",
                                  "id": "f961978d-02eb-4998-933a-33c2ec378564",
                                  "name": "Listening"
                                },
                                {
                                  "color": "red",
                                  "id": "1d450853-b27a-45e2-979f-448aa1bd35de",
                                  "name": "Watching"
                                }
                              ]
                            },
                            "type": "select"
                          },
                          "Summary": {
                            "id": "%3F%5C25",
                            "name": "Summary",
                            "rich_text": {},
                            "type": "rich_text"
                          },
                          "Type": {
                            "id": "%2F7eo",
                            "name": "Type",
                            "select": {
                              "options": [
                                {
                                  "color": "default",
                                  "id": "f96d0d0a-5564-4a20-ab15-5f040d49759e",
                                  "name": "Article"
                                },
                                {
                                  "color": "default",
                                  "id": "4ac85597-5db1-4e0a-9c02-445575c38f76",
                                  "name": "TV Series"
                                },
                                {
                                  "color": "default",
                                  "id": "2991748a-5745-4c3b-9c9b-2d6846a6fa1f",
                                  "name": "Film"
                                },
                                {
                                  "color": "default",
                                  "id": "82f3bace-be25-410d-87fe-561c9c22492f",
                                  "name": "Podcast"
                                },
                                {
                                  "color": "default",
                                  "id": "861f1076-1cc4-429a-a781-54947d727a4a",
                                  "name": "Academic Journal"
                                },
                                {
                                  "color": "default",
                                  "id": "9cc30548-59d6-4cd3-94bc-d234081525c4",
                                  "name": "Essay Resource"
                                }
                              ]
                            },
                            "type": "select"
                          }
                        },
                        "title": [
                          {
                            "annotations": {
                              "bold": false,
[...]
