{
  "openapi": "3.0.0",
  "info": {
    "title": "Options title",
    "description": "Description from options",
    "version": "6.0.7-beta",
    "termsOfService": "http://tos.myweb.com"
  },
  "servers": [
    {
      "url": "https://stablediffusionapi.com"
    }
  ],
  "tags": [
    {
      "name": "Stable Diffusion API",
      "description": "Stable Diffusion V3 APIs comes with below features\n\n- Faster speed\n- Inpainting\n- Image 2 Image\n- Negative Prompts\n    \n\n**key :** Your API Key\n\n**prompt :** Your Prompt\n\n**samples** : number of images you want in response\n\n**negative_prompt :** Items you don't want in the image\n\n**init_image :** link of Initial Image\n\n**mask_image :** link of mask image for inpainting\n\n**width :** Width of output image. Maximum size is 1024x768 or 768x1024 because of memory limits\n\n**height :** Height of output image. Maximum size is 1024x768 or 768x1024 because of memory limits\n\n**prompt_strength :** Prompt strength when using init image. 1.0 corresponds to full destruction of information in init image\n\n**num_inference_steps :** Number of denoising steps (minimum: 1; maximum: 50)\n\n**guidance_scale :** Scale for classifier-free guidance (minimum: 1; maximum: 20)\n\n**seed :** Random seed. Leave blank to randomize the seed\n\n**webhook :** webhook to call when image generation is completed\n\n**track_id :** tracking id to track this api call"
    },
    {
      "name": "DreamBooth Finetuning",
      "description": "Dreambooth API to finetune stable diffusion"
    },
    {
      "name": "DreamBooth API"
    },
    {
      "name": "ControlNet"
    },
    {
      "name": "Misc"
    },
    {
      "name": "DreamBooth API V4",
      "description": "This is beta version of dreambooth API."
    },
    {
      "name": "Dreambooth Sandbox API"
    },
    {
      "name": "Enterprise API",
      "description": "In Enterprise API, you get dedicated GPU to run the Stable Diffusion or Dreambooth Servers.\n\nContact us on [stablediffusionapi.com](stablediffusionapi.com) to get dedicated GPU plan."
    },
    {
      "name": "V5 APIs"
    },
    {
      "name": "SDAPI4"
    }
  ],
  "paths": {
    "/api/v3/text2img": {
      "post": {
        "tags": [
          "Stable Diffusion API"
        ],
        "summary": "Text 2 Image",
        "description": "Text2Image API to generate image from prompt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "prompt": "ultra realistic close up portrait ((beautiful pale cyberpunk female with heavy black eyeliner)), blue eyes, shaved side haircut, hyper detail, cinematic lighting, magic neon, dark red city, Canon EOS R3, nikon, f/1.4, ISO 200, 1/160s, 8K, RAW, unedited, symmetrical balance, in-frame, 8K",
                  "negative_prompt": "((out of frame)), ((extra fingers)), mutated hands, ((poorly drawn hands)), ((poorly drawn face)), (((mutation))), (((deformed))), (((tiling))), ((naked)), ((tile)), ((fleshpile)), ((ugly)), (((abstract))), blurry, ((bad anatomy)), ((bad proportions)), ((extra limbs)), cloned face, (((skinny))), glitchy, ((extra breasts)), ((double torso)), ((extra arms)), ((extra hands)), ((mangled fingers)), ((missing breasts)), (missing lips), ((ugly face)), ((fat)), ((extra legs))",
                  "width": "512",
                  "height": "512",
                  "samples": "1",
                  "num_inference_steps": "20",
                  "safety_checker": "no",
                  "enhance_prompt": "yes",
                  "seed": null,
                  "guidance_scale": 7.5,
                  "webhook": null,
                  "track_id": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 12 Dec 2022 12:24:24 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "59"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=mtGz9H9dKDjuoc1PzJJkgjWLqiYuCuBFzDlIdGD4j7uBSWlkLMVqbLGJ8JX1N6F4qf6BRKl%2FRoVVWEuA5fdH%2BWof0H6YmCZCnunk30BNT6j3%2BZwT4%2FrPs098F6viBHIbfmhuwsXPwZxL\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "77866fb759bd0d9e-MRS"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "generationTime": 2.920767068862915,
                  "id": 302455,
                  "output": [
                    "https://d1okzptojspljx.cloudfront.net/generations/05c3260d-6a2e-4aa5-82f0-e952f2a5fa10-0.png"
                  ],
                  "meta": {
                    "H": 512,
                    "W": 512,
                    "enable_attention_slicing": "true",
                    "file_prefix": "05c3260d-6a2e-4aa5-82f0-e952f2a5fa10",
                    "guidance_scale": 7.5,
                    "model": "runwayml/stable-diffusion-v1-5",
                    "n_samples": 1,
                    "negative_prompt": "((out of frame)), ((extra fingers)), mutated hands, ((poorly drawn hands)), ((poorly drawn face)), (((mutation))), (((deformed))), (((tiling))), ((naked)), ((tile)), ((fleshpile)), ((ugly)), (((abstract))), blurry, ((bad anatomy)), ((bad proportions)), ((extra limbs)), cloned face, (((skinny))), glitchy, ((extra breasts)), ((double torso)), ((extra arms)), ((extra hands)), ((mangled fingers)), ((missing breasts)), (missing lips), ((ugly face)), ((fat)), ((extra legs)), anime",
                    "outdir": "out",
                    "prompt": "ultra realistic close up portrait ((beautiful pale cyberpunk female with heavy black eyeliner)), blue eyes, shaved side haircut, hyper detail, cinematic lighting, magic neon, dark red city, Canon EOS R3, nikon, f/1.4, ISO 200, 1/160s, 8K, RAW, unedited, symmetrical balance, in-frame, 8K",
                    "revision": "fp16",
                    "safety_checker": "none",
                    "seed": 1793745243,
                    "steps": 20,
                    "vae": "stabilityai/sd-vae-ft-mse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/img2img": {
      "post": {
        "tags": [
          "Stable Diffusion API"
        ],
        "summary": "Image 2 Image",
        "description": "Generate images using Stable diffusion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "prompt": "a cat sitting on a bench",
                  "negative_prompt": null,
                  "init_image": "https://raw.githubusercontent.com/CompVis/stable-diffusion/main/data/inpainting_examples/overture-creations-5sI6fQgYIuo.png",
                  "width": "512",
                  "height": "512",
                  "samples": "1",
                  "num_inference_steps": "30",
                  "safety_checker": "no",
                  "enhance_prompt": "yes",
                  "guidance_scale": 7.5,
                  "strength": 0.7,
                  "seed": null,
                  "webhook": null,
                  "track_id": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/inpaint": {
      "post": {
        "tags": [
          "Stable Diffusion API"
        ],
        "summary": "Inpainting",
        "description": "Generate images using Stable diffusion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "prompt": "a cat sitting on a bench",
                  "negative_prompt": null,
                  "init_image": "https://raw.githubusercontent.com/CompVis/stable-diffusion/main/data/inpainting_examples/overture-creations-5sI6fQgYIuo.png",
                  "mask_image": "https://raw.githubusercontent.com/CompVis/stable-diffusion/main/data/inpainting_examples/overture-creations-5sI6fQgYIuo_mask.png",
                  "width": "512",
                  "height": "512",
                  "samples": "1",
                  "num_inference_steps": "30",
                  "safety_checker": "no",
                  "enhance_prompt": "yes",
                  "guidance_scale": 7.5,
                  "strength": 0.7,
                  "seed": null,
                  "webhook": null,
                  "track_id": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/fetch/5264": {
      "post": {
        "tags": [
          "Stable Diffusion API"
        ],
        "summary": "Fetch Queued Images",
        "description": "Generate images using Stable diffusion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/system_load": {
      "post": {
        "tags": [
          "Stable Diffusion API"
        ],
        "summary": "Stable Diffusion API System Load",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/txt_to_3d": {
      "post": {
        "tags": [
          "Stable Diffusion API"
        ],
        "summary": "Text to 3D",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "prompt": "a rose",
                  "guidance_scale": 20,
                  "steps": 64,
                  "frame_size": 256,
                  "output_type": "gif",
                  "webhook": null,
                  "track_id": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/fine_tune": {
      "post": {
        "tags": [
          "DreamBooth Finetuning"
        ],
        "summary": "Create Dreambooth Request",
        "description": "**instance_prompt**: how you want to call trained object\n\n**class_prompt**: class without prompt\n\n**images**: make sure images are direct links, cropped in 512x512 : keep it about 7-8 images\n\n**seed**: keep it null or 0\n\n**training_type**: type of object you are training on:\n\n1. men : to train on faces of men\n2. female: to train on faces of female\n3. null: to train on object or anything\n    \n\n**max_train_steps**: keep it 2X number of images: Max: 2000\n\n**webhook**: get post call when training is completed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "instance_prompt": "photo of adhik person",
                  "class_prompt": "photo of person",
                  "base_model_id": "portraitplus-diffusion",
                  "images": [
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00001.png",
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00002.png",
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00003.png",
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00004.png",
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00005.png",
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00006.png",
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00007.png"
                  ],
                  "seed": "0",
                  "training_type": "men",
                  "max_train_steps": "2000",
                  "webhook": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 04 Nov 2022 10:25:21 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "59"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=byqGDrTY8%2BNYaaAdbYuIfnDHYoh97aQUV2bSeEvNsuatp1147Sh671I%2Ff2FoIFIze2hk2d6NxAVHW7ZFOX0fabqyTZH%2FmwI0rV7ami0UMvZMLtDEDsou7x1s4BWCJW%2FjNH3Co3P0ESa6\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "764ca520dd92f32b-BOM"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "messege": "deploying_gpu",
                  "data": "it will take upto 25 minutes.",
                  "training_id": "F5jvdzGnYi"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/lora_fine_tune": {
      "post": {
        "tags": [
          "DreamBooth Finetuning"
        ],
        "summary": "Create Dreambooth Request Copy",
        "description": "**instance_prompt**: how you want to call trained object\n\n**class_prompt**: class without prompt\n\n**images**: make sure images are direct links, cropped in 512x512 : keep it about 7-8 images\n\n**seed**: keep it null or 0\n\n**training_type**: type of object you are training on:\n\n1. men : to train on faces of men\n2. female: to train on faces of female\n3. null: to train on object or anything\n    \n\n**max_train_steps**: keep it 2X number of images: Max: 2000\n\n**webhook**: get post call when training is completed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "instance_prompt": "photo of a cgy dog",
                  "class_prompt": "photo of dog",
                  "base_model_type": "sdxl",
                  "negative_prompt": " lowres, bad anatomy, text, error, missing fingers, extra digit, fewer digits, cropped, worst quality, low quality, normal quality, jpeg artifacts, signature, watermark, username, blurry",
                  "images": [
                    "https://i.ibb.co/hmCtVNk/cgy-1.jpg",
                    "https://i.ibb.co/mzvbnHZ/cgy-2.jpg",
                    "https://i.ibb.co/G5jFvt2/cgy-3.jpg",
                    "https://i.ibb.co/tD1fTDS/cgy-4.jpg",
                    "https://i.ibb.co/VMP7hNL/cgy-5.jpg",
                    "https://i.ibb.co/c1byrHB/cgy-6.jpg",
                    "https://i.ibb.co/NV7knzV/cgy-7.jpg",
                    "https://i.ibb.co/XFG7Kfh/cgy-8.jpg"
                  ],
                  "seed": "0",
                  "training_type": "null",
                  "lora_type": "lycoris",
                  "max_train_steps": "6",
                  "webhook": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 04 Nov 2022 10:25:21 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "59"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=byqGDrTY8%2BNYaaAdbYuIfnDHYoh97aQUV2bSeEvNsuatp1147Sh671I%2Ff2FoIFIze2hk2d6NxAVHW7ZFOX0fabqyTZH%2FmwI0rV7ami0UMvZMLtDEDsou7x1s4BWCJW%2FjNH3Co3P0ESa6\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "764ca520dd92f32b-BOM"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "messege": "deploying_gpu",
                  "data": "it will take upto 25 minutes.",
                  "training_id": "F5jvdzGnYi"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/fine_tune_status/dyxjeiQ6kg": {
      "post": {
        "tags": [
          "DreamBooth Finetuning"
        ],
        "summary": "Get Training Status",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 05 Nov 2022 03:42:44 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "59"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=UTUISJB%2BcIKhejoIDEroUnwoPm7VdE1Ptc91sWko%2FUrUowjW6aW6s7Hv4ISEHWKsxHEMKhRqI0HF05acG7eZ8xw%2BAb1fmC7wel%2BLLl%2FRnf3vufAFsD%2BUyKjdG%2B0GeRMvUDxoNmCsI%2FqK\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "765294c85e887932-AMD"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "messege": "model_ready",
                  "data": " /n Step:1 Training Started, 5 Steps to go : ETA : 30 minutes /n Step:2 Training Done, 4 Steps to go : ETA : 15 minutes /n Step:3 Model Uploading, 3 Steps to go : ETA : 10 minutes /n  /n Step:4 Model Uploaded, 2 Steps to go : ETA : 5 minutes /n Model loaded successfully"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/cancle_training/model_id": {
      "post": {
        "tags": [
          "DreamBooth Finetuning"
        ],
        "summary": "Cancle Training",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/finetune/delete/your_model_id": {
      "post": {
        "tags": [
          "DreamBooth Finetuning"
        ],
        "summary": "Delete Drembooth Model",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/dreambooth": {
      "post": {
        "tags": [
          "DreamBooth API"
        ],
        "summary": "Dreambooth Text2Image",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "model_id": "midjourney",
                  "prompt": "actual 8K portrait photo of gareth person, portrait, happy colors, bright eyes, clear eyes, warm smile, smooth soft skin, big dreamy eyes, beautiful intricate colored hair, symmetrical, anime wide eyes, soft lighting, detailed face, by makoto shinkai, stanley artgerm lau, wlop, rossdraws, concept art, digital painting, looking into camera",
                  "negative_prompt": "painting, extra fingers, mutated hands, poorly drawn hands, poorly drawn face, deformed, ugly, blurry, bad anatomy, bad proportions, extra limbs, cloned face, skinny, glitchy, double torso, extra arms, extra hands, mangled fingers, missing lips, ugly face, distorted face, extra legs, anime",
                  "width": "512",
                  "height": "768",
                  "samples": "1",
                  "num_inference_steps": "30",
                  "safety_checker": "no",
                  "enhance_prompt": "no",
                  "upscale": "no",
                  "seed": null,
                  "guidance_scale": 7.5,
                  "webhook": null,
                  "track_id": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 05 Nov 2022 04:10:49 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "59"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=XCJ6ngkr8lyUD4FBWEuv0wOOyP3Ab4eBmrv9K450d3fMJ4IN1NKuj7k8NObK109r414iUJdQuovMXSw0x3ZXSFkf2207nzia342h5gvV8zIgDnwip8lvxcetRqgLaawXtOfnUSRGxm%2BW\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "7652bd7529ac2e8f-BOM"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "generationTime": 10.171663284301758,
                  "id": 32401,
                  "output": [
                    "https://stable-diffusion-api.de-fra1.upcloudobjects.com/generations/018704228461667621441.png"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/dreambooth/img2img": {
      "post": {
        "tags": [
          "DreamBooth API"
        ],
        "summary": "Dreambooth Img2Img",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "model_id": "your_model_id",
                  "prompt": "a cat sitting on a bench",
                  "negative_prompt": null,
                  "init_image": "https://raw.githubusercontent.com/CompVis/stable-diffusion/main/data/inpainting_examples/overture-creations-5sI6fQgYIuo.png",
                  "width": "512",
                  "height": "512",
                  "samples": "1",
                  "num_inference_steps": "30",
                  "safety_checker": "no",
                  "enhance_prompt": "yes",
                  "guidance_scale": 7.5,
                  "strength": 0.7,
                  "seed": null,
                  "webhook": null,
                  "track_id": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/dreambooth/inpaint": {
      "post": {
        "tags": [
          "DreamBooth API"
        ],
        "summary": "txt_2_3d",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "model_id": "your_model_id",
                  "prompt": "a cat sitting on a bench",
                  "negative_prompt": null,
                  "init_image": "https://raw.githubusercontent.com/CompVis/stable-diffusion/main/data/inpainting_examples/overture-creations-5sI6fQgYIuo.png",
                  "mask_image": "https://raw.githubusercontent.com/CompVis/stable-diffusion/main/data/inpainting_examples/overture-creations-5sI6fQgYIuo_mask.png",
                  "width": "512",
                  "height": "512",
                  "samples": "1",
                  "num_inference_steps": "30",
                  "safety_checker": "no",
                  "enhance_prompt": "yes",
                  "guidance_scale": 7.5,
                  "strength": 0.7,
                  "seed": null,
                  "webhook": null,
                  "track_id": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/dreambooth/fetch/5264": {
      "post": {
        "tags": [
          "DreamBooth API"
        ],
        "summary": "DreamBooth Fetch Queued Images",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v5/controlnet": {
      "post": {
        "tags": [
          "ControlNet"
        ],
        "summary": "ControlNet Main",
        "description": "ControlNet APIs\n\nAll 8 controlnet models are available to be used\n\n- canny\n- depth\n- hed\n- hough\n- normal\n- openpose\n- scribble\n- segmentation\n    \n\npass above values in \"controlnet_model\" to choose specific controlnet model\n\n1. controlnet_model : control net model id\n2. auto_hint : yes/no, hint canny edge or depth automatically. default \"yes\"\n3. prompt: prompt to modify image, keep it detailed as possible\n4. init_image : direct image link of model",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "controlnet_model": "inpaint",
                  "controlnet_type": "inpaint",
                  "model_id": "midjourney",
                  "auto_hint": "yes",
                  "guess_mode": "no",
                  "prompt": "A citylight poster in pedestrian zone . Small town. Noon.",
                  "negative_prompt": null,
                  "init_image": "http://ai.lammpee.de/thorn/rundiffusion-1/export_ofade.jpg",
                  "mask_image": "http://ai.lammpee.de/thorn/rundiffusion-1/export_mask.jpg",
                  "width": "512",
                  "height": "512",
                  "samples": "1",
                  "scheduler": "UniPCMultistepScheduler",
                  "num_inference_steps": "30",
                  "safety_checker": "no",
                  "base64": "no",
                  "enhance_prompt": "yes",
                  "guidance_scale": 7.5,
                  "strength": 0.55,
                  "seed": null,
                  "webhook": null,
                  "track_id": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/super_resolution": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Super Resolution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "url": "https://stable-diffusion-api.s3.amazonaws.com/generations/1668922501_1-0.png",
                  "scale": 3,
                  "webhook": null,
                  "face_enhance": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/base64_crop": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Upload base64 image and crop it",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "image": "data:image/png;base64,your_base_64_string",
                  "crop": "true"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/delete_image": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Delete Images",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "image": "79ca90fd-0423-4684-943f-65c8d601b3d2-0.png"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/finetune_list": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Get Trained Model List",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v4/dreambooth/model_list": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Get list of all public models",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v5/clear_cache": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Clear User Cache",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/dreambooth/buy_model": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Buy Model",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "quantity": "4"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "127.0.0.1:8000"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 23 Jan 2023 06:24:50 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.11"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "messege": "Payment was charged successfuly",
                  "purchased_models": 4,
                  "used_models": 0,
                  "available_models": 42
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/buy_subscription": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Buy Subscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "plan_name": "basic"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "127.0.0.1:8000"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 23 Jan 2023 06:24:50 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.11"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "messege": "Payment was charged successfuly",
                  "purchased_models": 4,
                  "used_models": 0,
                  "available_models": 42
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/enterprise/nsfw_image_check": {
      "post": {
        "tags": [
          "Enterprise API"
        ],
        "summary": "Check NSFW Images",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "enterprise_api_key",
                  "init_image": "http://stablediffusionapi.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v4/dreambooth": {
      "post": {
        "tags": [
          "DreamBooth API V4"
        ],
        "summary": "Lora Text2Image",
        "description": "Use dreambooth text2img API to generate images from any custom trained model or from any publicly available model.\n\nYou can also pass scheduler in API\n\npossible values for scheduler are\n\n- DDPMScheduler\n- PNDMScheduler\n- EulerAncestralDiscreteScheduler\n- DDIMScheduler\n- LMSDiscreteScheduler\n- EulerDiscreteScheduler\n- DPMSolverMultistepScheduler",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "model_id": "midjourney",
                  "prompt": "actual 8K portrait photo of gareth person, portrait, happy colors, bright eyes, clear eyes, warm smile, smooth soft skin, big dreamy eyes, beautiful intricate colored hair, symmetrical, anime wide eyes, soft lighting, detailed face, by makoto shinkai, stanley artgerm lau, wlop, rossdraws, concept art, digital painting, looking into camera",
                  "negative_prompt": "painting, extra fingers, mutated hands, poorly drawn hands, poorly drawn face, deformed, ugly, blurry, bad anatomy, bad proportions, extra limbs, cloned face, skinny, glitchy, double torso, extra arms, extra hands, mangled fingers, missing lips, ugly face, distorted face, extra legs, anime",
                  "width": "512",
                  "height": "512",
                  "samples": "1",
                  "safety_checker": "no",
                  "num_inference_steps": "30",
                  "enhance_prompt": "yes",
                  "scheduler": "UniPCMultistepScheduler",
                  "seed": null,
                  "guidance_scale": 7.5,
                  "webhook": null,
                  "track_id": null,
                  "tomesd": "yes",
                  "use_karras_sigmas": "yes",
                  "vae": null,
                  "lora_model": null,
                  "lora_strength": null,
                  "embeddings_model": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 05 Nov 2022 04:10:49 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "59"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=XCJ6ngkr8lyUD4FBWEuv0wOOyP3Ab4eBmrv9K450d3fMJ4IN1NKuj7k8NObK109r414iUJdQuovMXSw0x3ZXSFkf2207nzia342h5gvV8zIgDnwip8lvxcetRqgLaawXtOfnUSRGxm%2BW\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "7652bd7529ac2e8f-BOM"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "generationTime": 10.171663284301758,
                  "id": 32401,
                  "output": [
                    "https://stable-diffusion-api.de-fra1.upcloudobjects.com/generations/018704228461667621441.png"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/dreambooth/img2img": {
      "post": {
        "tags": [
          "DreamBooth API V4"
        ],
        "summary": "Dreambooth Img2Img",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "model_id": "your_model_id",
                  "prompt": "a cat sitting on a bench",
                  "negative_prompt": null,
                  "init_image": "https://raw.githubusercontent.com/CompVis/stable-diffusion/main/data/inpainting_examples/overture-creations-5sI6fQgYIuo.png",
                  "width": "512",
                  "height": "512",
                  "samples": "1",
                  "scheduler": null,
                  "num_inference_steps": "30",
                  "safety_checker": "no",
                  "enhance_prompt": "yes",
                  "guidance_scale": 7.5,
                  "strength": 0.7,
                  "seed": null,
                  "webhook": null,
                  "track_id": null,
                  "tomesd": "yes",
                  "use_karras_sigmas": "yes",
                  "vae": null,
                  "lora_model": null,
                  "lora_strength": null,
                  "embeddings_model": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v4/dreambooth/inpaint": {
      "post": {
        "tags": [
          "DreamBooth API V4"
        ],
        "summary": "Dreambooth Inpainting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "model_id": "your_model_id",
                  "prompt": "a cat sitting on a bench",
                  "negative_prompt": null,
                  "init_image": "https://raw.githubusercontent.com/CompVis/stable-diffusion/main/data/inpainting_examples/overture-creations-5sI6fQgYIuo.png",
                  "mask_image": "https://raw.githubusercontent.com/CompVis/stable-diffusion/main/data/inpainting_examples/overture-creations-5sI6fQgYIuo_mask.png",
                  "width": "512",
                  "height": "512",
                  "samples": "1",
                  "scheduler": null,
                  "num_inference_steps": "30",
                  "enhance_prompt": "yes",
                  "safety_checker": "no",
                  "guidance_scale": 7.5,
                  "strength": 0.7,
                  "seed": null,
                  "webhook": null,
                  "track_id": null,
                  "tomesd": "yes",
                  "use_karras_sigmas": "yes",
                  "vae": null,
                  "lora_model": null,
                  "lora_strength": null,
                  "embeddings_model": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v4/dreambooth/text2video": {
      "post": {
        "tags": [
          "DreamBooth API V4"
        ],
        "summary": "Dreambooth Text 2 Video",
        "description": "Create video from a trained model or publicly available community models.\n\nPass prompt and it will generate video with model_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "model_id": "your_model_id",
                  "prompt": "a cat sitting on a bench",
                  "negative_prompt": null,
                  "width": "512",
                  "height": "512",
                  "scheduler": null,
                  "num_inference_steps": "30",
                  "enhance_prompt": "yes",
                  "guidance_scale": 7.5,
                  "strength": 0.7,
                  "seed": null,
                  "webhook": null,
                  "track_id": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v4/dreambooth/fetch": {
      "post": {
        "tags": [
          "DreamBooth API V4"
        ],
        "summary": "DreamBooth Fetch Queued Images",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "request_id": "your_request_id"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v4/dreambooth/model_reload": {
      "post": {
        "tags": [
          "DreamBooth API V4"
        ],
        "summary": "DreamBooth Reload Model",
        "description": "After 7 days of inactivity, model will be deleted from inference server.\n\nTo reload a model and using it again, you can make api call. it will take 2 minutes to reload a model.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "model_id": "model_id"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/sandbox/v3/fine_tune": {
      "post": {
        "tags": [
          "Dreambooth Sandbox API"
        ],
        "summary": "Create Dreambooth Request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w",
                  "instance_prompt": "photo of adhik person",
                  "class_prompt": "photo of person",
                  "images": [
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00001.png",
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00002.png",
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00003.png",
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00004.png",
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00005.png",
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00006.png",
                    "https://stablediffusionapi.com/storage/avatars/AdhikJoshi_00007.png"
                  ],
                  "seed": "0",
                  "training_type": "men",
                  "max_train_steps": "2000",
                  "webhook": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 04 Nov 2022 10:25:21 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "59"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=byqGDrTY8%2BNYaaAdbYuIfnDHYoh97aQUV2bSeEvNsuatp1147Sh671I%2Ff2FoIFIze2hk2d6NxAVHW7ZFOX0fabqyTZH%2FmwI0rV7ami0UMvZMLtDEDsou7x1s4BWCJW%2FjNH3Co3P0ESa6\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "764ca520dd92f32b-BOM"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "messege": "deploying_gpu",
                  "data": "it will take upto 25 minutes.",
                  "training_id": "F5jvdzGnYi"
                }
              }
            }
          }
        }
      }
    },
    "/api/sandbox/v3/fine_tune_status/dyxjeiQ6kg": {
      "post": {
        "tags": [
          "Dreambooth Sandbox API"
        ],
        "summary": "Get Training Status",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "8jHXY1PYm8tynfIEwpNDbUcbkeZiwFKcLP7VenoPyytbCBRuOaydh9JW8K7w"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 05 Nov 2022 03:42:44 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "59"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=UTUISJB%2BcIKhejoIDEroUnwoPm7VdE1Ptc91sWko%2FUrUowjW6aW6s7Hv4ISEHWKsxHEMKhRqI0HF05acG7eZ8xw%2BAb1fmC7wel%2BLLl%2FRnf3vufAFsD%2BUyKjdG%2B0GeRMvUDxoNmCsI%2FqK\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "765294c85e887932-AMD"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "messege": "model_ready",
                  "data": " /n Step:1 Training Started, 5 Steps to go : ETA : 30 minutes /n Step:2 Training Done, 4 Steps to go : ETA : 15 minutes /n Step:3 Model Uploading, 3 Steps to go : ETA : 10 minutes /n  /n Step:4 Model Uploaded, 2 Steps to go : ETA : 5 minutes /n Model loaded successfully"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/enterprise/system_details": {
      "post": {
        "tags": [
          "Enterprise API"
        ],
        "summary": "System Details",
        "description": "Get details of your server",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "enterprise_api_key"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "127.0.0.1:8000"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 25 Jan 2023 11:27:38 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.11"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "model_count": 0,
                  "queue_time": 0,
                  "status": "ok"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/enterprise/restart_server": {
      "post": {
        "tags": [
          "Enterprise API"
        ],
        "summary": "Restart Server",
        "description": "Restart your dedicated server",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "enterprise_api_key"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "127.0.0.1:8000"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 25 Jan 2023 11:27:38 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.11"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "server restarting",
                  "status": "success"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/enterprise/load_model": {
      "post": {
        "tags": [
          "Enterprise API"
        ],
        "summary": "Load Models",
        "description": "Load model to your dedicated server,\n\n1. **url** : url of huggingface model, .ckpt download link, or trained model from our dreambooth api\n2. **model_id** : this is model_id model will be saved as, you can load model using this id to generate images.\n3. **model_type**: `1. \"huggingface\" 2. \"api_trained\" 3. \"custom_ckpt\"`\n4. **revision :** if model is `\"fp16\" or \"fp32\"`\n5. **webhook** : webhook to receive response on model load events\n6. **upcast_attention** : pass \"yes\" only when you are loading stable diffusion 2.1 model",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "enterprise_api_key",
                  "url": "prompthero/openjourney",
                  "model_id": "midjourney",
                  "model_type": "huggingface",
                  "webhook": "https://stablediffusionapi.com",
                  "revision": "fp32",
                  "upcast_attention": "no"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "127.0.0.1:8000"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 25 Jan 2023 11:46:36 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.11"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "model load started",
                  "status": "success"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/enterprise/get_all_models": {
      "post": {
        "tags": [
          "Enterprise API"
        ],
        "summary": "Get all models",
        "description": "Get list of all models on your server",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "enterprise_api_key"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "127.0.0.1:8000"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 25 Jan 2023 13:03:30 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.11"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "Get all models",
                    "value": {
                      "models": [
                        {
                          "load_data": "01/25/2023 11:52:22",
                          "model_id": "hf-model"
                        },
                        {
                          "load_data": "01/25/2023 12:34:16",
                          "model_id": "ckpt-model"
                        },
                        {
                          "load_data": "01/25/2023 12:50:48",
                          "model_id": "nckpt-model"
                        }
                      ],
                      "status": "success"
                    }
                  },
                  "example-1": {
                    "summary": "Get all models",
                    "value": {
                      "status": "success",
                      "models": [
                        {
                          "model_id": "midjourney",
                          "load_date": "09/22/2023 07:50:05"
                        },
                        {
                          "model_id": "modelverify",
                          "load_date": "09/22/2023 07:52:32"
                        },
                        {
                          "model_id": "sdxl",
                          "load_date": "09/22/2023 07:54:49"
                        },
                        {
                          "model_id": "anythingink-v5",
                          "load_date": "09/22/2023 07:54:54"
                        },
                        {
                          "model_id": "camellialine",
                          "load_date": "09/22/2023 07:54:59"
                        },
                        {
                          "model_id": "notsoxjb",
                          "load_date": "09/22/2023 07:55:03"
                        },
                        {
                          "model_id": "sdxlniji",
                          "load_date": "09/22/2023 07:55:55"
                        },
                        {
                          "model_id": "niji-v1",
                          "load_date": "09/22/2023 07:56:00"
                        },
                        {
                          "model_id": "pastelanimedream",
                          "load_date": "09/22/2023 07:56:04"
                        },
                        {
                          "model_id": "animepasteldream",
                          "load_date": "09/22/2023 07:56:08"
                        },
                        {
                          "model_id": "anylora",
                          "load_date": "09/22/2023 08:06:49"
                        },
                        {
                          "model_id": "helloflat-v1",
                          "load_date": "09/22/2023 08:06:52"
                        },
                        {
                          "model_id": "maturemalemix-v14",
                          "load_date": "09/22/2023 08:06:55"
                        },
                        {
                          "model_id": "rev-animated",
                          "load_date": "09/22/2023 08:06:59"
                        },
                        {
                          "model_id": "arthemycomics-v4",
                          "load_date": "09/22/2023 08:18:30"
                        },
                        {
                          "model_id": "ethermix-v5",
                          "load_date": "09/22/2023 08:19:24"
                        },
                        {
                          "model_id": "flat-2d",
                          "load_date": "09/22/2023 08:19:51"
                        },
                        {
                          "model_id": "dreamshaper-v8",
                          "load_date": "09/22/2023 08:19:58"
                        },
                        {
                          "model_id": "deliberate",
                          "load_date": "09/22/2023 08:20:01"
                        },
                        {
                          "model_id": "mechamix-v1",
                          "load_date": "09/22/2023 08:48:22"
                        },
                        {
                          "model_id": "westernanimation-v1",
                          "load_date": "09/22/2023 08:48:27"
                        },
                        {
                          "model_id": "aniflatmix-v2",
                          "load_date": "09/22/2023 08:48:33"
                        },
                        {
                          "model_id": "blazingdrive-v7",
                          "load_date": "09/22/2023 08:48:39"
                        },
                        {
                          "model_id": "foolkatmono-v3",
                          "load_date": "09/22/2023 08:50:03"
                        },
                        {
                          "model_id": "foolkat-v2",
                          "load_date": "09/22/2023 08:51:03"
                        },
                        {
                          "model_id": "majicMIX-fantasy",
                          "load_date": "09/22/2023 09:20:08"
                        },
                        {
                          "model_id": "young2d-v1",
                          "load_date": "09/22/2023 09:20:11"
                        },
                        {
                          "model_id": "aingdiffusion-v9",
                          "load_date": "09/22/2023 09:20:19"
                        },
                        {
                          "model_id": "fx25d-v1",
                          "load_date": "09/22/2023 09:20:55"
                        },
                        {
                          "model_id": "cookiecutter-v2",
                          "load_date": "09/22/2023 09:32:06"
                        },
                        {
                          "model_id": "feelyou-v2",
                          "load_date": "09/22/2023 09:32:10"
                        },
                        {
                          "model_id": "3danimation-v1",
                          "load_date": "09/22/2023 11:52:43"
                        },
                        {
                          "model_id": "toonyoujp-v1",
                          "load_date": "09/22/2023 11:52:54"
                        },
                        {
                          "model_id": "majicMIX-realistic",
                          "load_date": "09/22/2023 11:54:18"
                        },
                        {
                          "model_id": "era-v21",
                          "load_date": "09/22/2023 11:54:29"
                        },
                        {
                          "model_id": "disneycartoontypea-v1",
                          "load_date": "09/22/2023 12:36:20"
                        },
                        {
                          "model_id": "icomix-v5",
                          "load_date": "09/22/2023 12:36:23"
                        },
                        {
                          "model_id": "toonyou-v6",
                          "load_date": "09/22/2023 12:36:27"
                        },
                        {
                          "model_id": "seekyou-mikan",
                          "load_date": "09/22/2023 12:36:30"
                        },
                        {
                          "model_id": "darksushi-v3",
                          "load_date": "09/22/2023 12:36:34"
                        },
                        {
                          "model_id": "meinamix-v11",
                          "load_date": "09/22/2023 12:36:37"
                        }
                      ],
                      "controlnet_models": [
                        {
                          "model_id": "tile",
                          "load_date": "09/22/2023 07:29:17"
                        },
                        {
                          "model_id": "softedge",
                          "load_date": "09/22/2023 08:01:34"
                        },
                        {
                          "model_id": "lineart",
                          "load_date": "09/22/2023 08:03:21"
                        },
                        {
                          "model_id": "canny",
                          "load_date": "09/22/2023 08:04:36"
                        },
                        {
                          "model_id": "mlsd",
                          "load_date": "09/22/2023 11:35:39"
                        },
                        {
                          "model_id": "inpaint",
                          "load_date": "09/22/2023 11:37:08"
                        },
                        {
                          "model_id": "depth",
                          "load_date": "09/22/2023 11:37:51"
                        },
                        {
                          "model_id": "normalbae",
                          "load_date": "09/22/2023 11:38:32"
                        },
                        {
                          "model_id": "scribble",
                          "load_date": "09/22/2023 11:39:04"
                        }
                      ],
                      "lora_models": [
                        {
                          "model_id": "more_details",
                          "load_date": "06/02/2023 03:40:46"
                        },
                        {
                          "model_id": "more_details_XL",
                          "load_date": "08/18/2023 16:03:18"
                        },
                        {
                          "model_id": "papercut",
                          "load_date": "09/01/2023 14:07:57"
                        },
                        {
                          "model_id": "astralmecha",
                          "load_date": "09/02/2023 07:59:17"
                        },
                        {
                          "model_id": "childillustration",
                          "load_date": "09/02/2023 07:56:52"
                        },
                        {
                          "model_id": "textureillustration",
                          "load_date": "09/02/2023 02:35:18"
                        },
                        {
                          "model_id": "eflorescense",
                          "load_date": "09/02/2023 05:09:21"
                        },
                        {
                          "model_id": "pastel",
                          "load_date": "09/02/2023 09:37:48"
                        },
                        {
                          "model_id": "vangogh",
                          "load_date": "09/02/2023 03:43:06"
                        },
                        {
                          "model_id": "bokehmecha",
                          "load_date": "09/02/2023 04:51:09"
                        },
                        {
                          "model_id": "inkmecha",
                          "load_date": "09/02/2023 06:49:00"
                        },
                        {
                          "model_id": "lavamecha",
                          "load_date": "09/02/2023 09:43:07"
                        },
                        {
                          "model_id": "illustration",
                          "load_date": "09/02/2023 02:35:18"
                        },
                        {
                          "model_id": "stealthmecha",
                          "load_date": "09/02/2023 09:45:54"
                        },
                        {
                          "model_id": "line-v1",
                          "load_date": "09/03/2023 02:16:44"
                        },
                        {
                          "model_id": "ghiblilora",
                          "load_date": "09/02/2023 09:23:11"
                        },
                        {
                          "model_id": "detailtweakerlora",
                          "load_date": "09/01/2023 08:34:57"
                        }
                      ],
                      "embeddings_models": [
                        {
                          "model_id": "badhandnegative",
                          "load_date": "09/01/2023 09:50:37"
                        },
                        {
                          "model_id": "fastnegative",
                          "load_date": "09/02/2023 09:38:18"
                        },
                        {
                          "model_id": "easynegative",
                          "load_date": "09/01/2023 09:18:32"
                        }
                      ],
                      "vae_models": [
                        {
                          "model_id": "sd-ft-mse",
                          "load_date": "09/22/2023 07:29:21"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/enterprise/verify_model": {
      "post": {
        "tags": [
          "Enterprise API"
        ],
        "summary": "Verify Model",
        "description": "Verify is specific model exists",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "enterprise_api_key",
                  "model_id": "ckpt-model"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "127.0.0.1:8000"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 25 Jan 2023 13:03:30 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.11"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "message": "Model exists on server"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/enterprise/delete_model": {
      "post": {
        "tags": [
          "Enterprise API"
        ],
        "summary": "Delete Model",
        "description": "Delete model on your server",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "key": "enterprise_api_key",
                  "model_id": "ckpt-model"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "127.0.0.1:8000"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 25 Jan 2023 13:03:30 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.11"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "message": "Model exists on server"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/enterprise/update_s3": {
      "post": {
        "tags": [
          "Enterprise API"
        ],
        "summary": "Update S3 Details",
[...]
